$background: #353b48;
$white: #fff;
$black: #000;

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  margin-top: 10rem;
  background: #c7ebff;
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Poppins', sans-serif;
  color: $white;
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
body::-webkit-scrollbar-track {
  background: $white;
  border-radius: 6px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(3, 99, 121);
  border-radius: 20px;
  border: 3px solid $white;
}
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Poppins', sans-serif;
  color: $white;
}
h1 {
  font-size: 2rem;
}
span {
  color: $black;
}
i {
  font-size: 1.6rem;
}
#container {
  width: 100vw;
  margin: 0 auto;
}
#containerNav {
  width: 100%;
}
#content {
  max-width: 94vw;
  margin:0 auto;
  display: flex;
  flex-direction: column;
}
.sections{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  gap: 1rem;
}
.section_1{
  flex-direction: column;
}
.section_2{
  flex-direction: row;
}
.section_3{
  flex-direction: column;
  flex-wrap: nowrap;
}
.section_4 {
  margin-bottom: 4rem;
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.fonteCharts {
  display: block;
  margin-top: -1.4rem;
  color: rgb(107, 107, 107);
  font-size: 1.2rem;
}

.conteudoInfosCovid.active {
  display: flex;
  animation: efeitoInfos .5s;
  align-items: flex-start;
}
@keyframes efeitoInfos {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.conteudoInfosCovid {
  display: none;
  flex-direction: column;
  text-align: justify;
  align-items: center;
  padding: 2rem;
}


@media(max-width: 1080px) {
  html {
    font-size: 57%;
  }
}
@media(max-width: 720px) {
  html {
    font-size: 50%;
  }
}
@media(max-width: 650px) {
  #v_hidden {
    visibility: visible;
  }
}
