@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
:root {
  --background: rgb(29, 29, 29);
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  /* 1rem = 16px (User Agent) = 100% (User Agent) */
  font-size: 62.5%; /* 10px */
}

@media(max-width: 1080px) {
  html {
    font-size: 57%;
  }
}

@media(max-width: 720px) {
  html {
    font-size: 50%;
  }
}

body {
  height: 100vh;
  padding-top: 5rem;
  background: var(--background);
}

body,
button,
input,
textarea {
  font-size: clamp(14px, 1.6rem, 2vw);
  font-family: 'Poppins', sans-serif;
  color: var(--white);
}

.sr-only {
  position: absolute;
  height: 1px;
  width: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}